<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oversea a Corporate Category Bootstrap Responsive Website Template | Home :: Oversea</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/Home/css/style-starter.css">
    
</head>

<body>
    <!-- site header -->
    @Html.Action("MenuIndex", "ShareView")
   
    <!-- //site header -->
    @RenderBody()
    <!-- site footer -->
    <footer id="site-footer">
        <div class="top-footer">
            <div class="container my-md-5 my-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-logo mb-3">
                            <a href="index.html">
                                <span class="fa fa-shield"></span> Oversea
                            </a>
                        </div>
                        <div>
                            <p class="">
                                Trang web của chúng tôi sẽ giúp giải đáp các thắc mắc của bạn, về lĩnh vực khoa học máy tính, nơi lưu trữ kiến thức của toàn bộ trí thức IT Việt, hệ thống cho phép bạn đăng câu hỏi, thắc mắc của mình để cộng đồng Oversea giúp bạn giải đáp hoặc chính chúng tôi sẽ giúp các bạn, hoặc bạn có thể đăng kiến thức của mình để giúp cộng đồng Việt ngày càng phát triển hơn.
                            </p>
                        </div>
                    </div>
                    <!-- Quick Links -->
                    <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
                        <h4 class="footer-title">Đường dẫn nhanh</h4>
                        <ul class="footer-list">
                            <li><a href="about.html"> Câu hỏi</a></li>
                            <li><a href="services.html"> Bài viết</a></li>
                            <li><a href="#work"> Những người nổi trội</a></li>
                        </ul>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
                        <h4 class="footer-title">BẢN TIN</h4>
                        <p class="mb-4">
                            Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn được cập nhật những tin tức mới nhất từ ​​chúng tôi.
                        </p>
                        <form class="newsletter-form">
                            <input class="input-rounded" type="text" required="" placeholder="Enter Email Address">
                            <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
                                Đăng ký
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-lg-left text-center mb-lg-0 mb-3">
                        <p class="copyright">
                            © 2022 Captivate. All Rights Reserved. Design by Sk3nwOc
                        </p>
                    </div>
                    <div class="col-lg-4 align-center text-lg-right text-center">
                        <a href="#facebook" class="social-item"><span class="fa fa-facebook-f"></span></a>
                        <a href="#twitter" class="social-item"><span class="fa fa-twitter"></span></a>
                        <a href="#linkedin" class="social-item"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //site footer -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- javascript -->
    <script src="~/assets/Home/js/jquery-3.3.1.min.js"></script>

    <!-- libhtbox -->
    <script src="~/assets/Home/js/lightbox-plus-jquery.min.js"></script>

    <!-- particles -->
    <script src='~/assets/Home/js/particles.min.js'></script>
    <script src="~/assets/Home/js/script.js"></script>
    <!-- //particles -->
    <!-- owl carousel -->
    <script src="~/assets/Home/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        })
    </script>

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!-- bootstrap -->
    <script src="~/assets/Home/js/bootstrap.min.js"></script>

</body>
</html>
