
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title">
                    <strong>Oversea</strong> nơi hội tụ<br>  tinh hoa<strong> Việt.</strong>
                </h1>
                <p>
                    Trang web của chúng tôi sẽ giúp giải đáp các thắc mắc của bạn, về lĩnh vực khoa học máy tính,
                    nơi lưu trữ kiến thức của toàn bộ trí thức IT Việt, hệ thống cho phép bạn đăng câu hỏi, thắc mắc
                    của mình để cộng đồng Oversea giúp bạn giải đáp hoặc chính chúng tôi sẽ giúp các bạn, hoặc bạn có thể đăng
                    kiến thức của mình để giúp cộng đồng Việt ngày càng phát triển hơn.
                </p>
                <div class="mt-5">
                    <a class="btn btn-primary btn-style mr-2" href="@Url.Action("Register","Account")">Đăng ký </a>
                    <a class="btn btn-outline btn-outline-style" href="@Url.Action("Login","Account")">Đăng nhập </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
                    <img src="~/assets/Home/images/banner-round.png" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->
<!-- home page about -->
<section class="w3l-about">
    <div class="container">
        <div class="row about-content">
            <div class="col-lg-6 info mb-lg-0 mb-sm-5 mb-4 align-center">
                <h3 class="title">Về chúng tôi</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Trang web của chúng tôi sẽ giúp giải đáp các thắc mắc của bạn, về lĩnh vực khoa học máy tính,
                    nơi lưu trữ kiến thức của toàn bộ trí thức IT Việt, hệ thống cho phép bạn đăng câu hỏi, thắc mắc
                    của mình để cộng đồng Oversea giúp bạn giải đáp hoặc chính chúng tôi sẽ giúp các bạn, hoặc bạn có thể đăng
                    kiến thức của mình để giúp cộng đồng Việt ngày càng phát triển hơn.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/Home/images/about.png" class="img-fluid img-shadow" alt="about">
            </div>
        </div>
    </div>
</section>
<!-- //home page about -->
<!-- home page service grids -->
<!-- stats section -->
<section id="stats" class="stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 margin-md-60">
                <h2 class="left-title">Một số điểm nổi bật của website</h2>
                <p class="white">
                    Trang web của chúng tôi sẽ giúp giải đáp các thắc mắc của bạn, về lĩnh vực khoa học máy tính, nơi lưu trữ kiến thức của toàn bộ trí thức IT Việt.
                </p>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5">
                <div class="d-sm-flex justify-content-lg-around justify-content-between counter-main">
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-folder-open-o"></span>
                        </div>
                        <p class="value">385</p>
                        <p class="title white">Câu hỏi</p>
                    </div>
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-headphones"></span>
                        </div>
                        <p class="value">260</p>
                        <p class="title white">Người dùng</p>
                    </div>
                    <div class="counter">
                        <div class="icon">
                            <span class="fa fa-trophy"></span>
                        </div>
                        <p class="value">150</p>
                        <p class="title white">Phần thưởng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->
<!-- homepage blog grids -->
